.footer {
  background: #262626;

  h4,
  a,
  a:hover {
    font-size: 0.8rem;
    margin: 5px 20px 5px 0;
    color: #fff;
    font-family: "Lato Bold";
    letter-spacing: 1px;
  }

  span {
    color: #fff;
    font-size: 11px;
    font-family: "Lato Regular";
    letter-spacing: 1px;
  }

  h5 {
    font-family: "Lato Bold";
    color: #fff;
    font-size: 13px;
    padding-top: 1.2rem;
    letter-spacing: 0.8px;
  }

  .linksContainer {
    padding: 3em 0;
  }

  .license {
    color: #fff;
    font-family: "Lato Bold";
    font-size: 12px;
    margin-left: 15px;
    padding-top: 1.2rem;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 13px 13px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    border: 1px solid #fff;
  }

  .navLink {
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 2em 2em;
  }

  .section:not(:first-of-type),
  .lastSection {
    padding-top: 2rem;
  }

  .linksContainer {
    padding: 3em 2.4em !important;
  }
}
