$blue-gradient: linear-gradient(180deg, #152b9b 0, #269ab7 100%);
$orange-gradient: linear-gradient(180deg, #f05139 0, #f08639 100%);
$primary-color: #0c183c;
$secondary-color: #f05139;

.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e2e8f0;
  z-index: 6;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 1rem;
}

.bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
}

.navitem {
  text-decoration: none;
  list-style-type: none;
  margin: 1.5rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Lato Regular";

  .navlink {
    font-family: "Lato Regular";
  }
}
.subtitle {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: -0.5rem 0.5rem 1rem 0.5rem;
}

.navlogo {
  position: fixed;
  top: 1rem;
  left: 1em;
  width: 15rem;
  img {
    width: 100%;
  }

  @media only screen and (min-width: 319px) and (max-width: 768px) {
    width: 10rem;
    top: 2rem;
  }

  @media only screen and (max-width: 318px) {
    width: 10rem;
    top: 2rem;
  }
}

.navmenu {
  position: fixed;
  right: -100%;
  top: 6rem;
  flex-direction: column;
  background-color: #0c183c;
  width: 10vw;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 30px 50px #f5f5f5;
  color: white;
  padding: 0;
  display: flex;

  @media only screen and (min-width: 319px) and (max-width: 768px) {
    width: 40vw;
  }
  @media only screen and (max-width: 318px) {
    width: 40vw;
  }
}

.navmenu.active {
  right: 1em;
}

// Hamburger Icon and Transition Effects
.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(18px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-18px) rotate(-45deg);
}
